/* .....................VARIAVEL DE CORES..................... */
:root{
    --cor-principal: #F5F2EB;
    --cor-secundaria: #6B3F22;
    --hover-principal: #80583d;
}

/* .....................ESTILIZAÇÃO GERAL..................... */
body{
    margin: 0;
    padding-top: 143px;
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--cor-principal);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* .....................CABEÇALHO..................... */
header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    background-color: var(--cor-principal);
    border-bottom: solid 1px #eadfd8;
    padding: 20px;
}

header a{
    color: var(--cor-secundaria);
    padding: 5px;
    margin: 5px;
    font-weight: bold;
}

header ul{
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

header ul :hover{
    background-color: var(--hover-principal);
    border-radius: 20px;
    color: var(--cor-principal);
    padding: 5px;
}

/* .....................BANNER..................... */
#introduction{
    padding: 20px;
    min-height: 40vh; 
    background: linear-gradient(#4E2B16, #C77B3A);
    color: var(--cor-principal);
    margin-top: 20px;
    /* background-image: url("https://pixabay.com/get/g99858af618a5ba5f942f57e96a15204a71a8f1342877b7df65a1def75f25df06aa5bc60f640fd60510c4abe06f0b91af_1920.jpg?longlived="); */
    width: 94.5%;       /* Ocupa toda a largura disponível */
    height: 400px;     /* Altura do bloco na tela (ajuste como quiser) */
   background-size: cover;       /* Faz a foto cobrir todo o espaço sem distorcer */
  background-position: center;  /* Centraliza a imagem no bloco */
  background-repeat: no-repeat; /* Impede que a foto fique se repetindo */
}

#introduction a{
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    border-radius: 20px;
    padding: 10px;
}

#introduction a:hover{
    background-color: #945a28;
}

/* .....................SEÇÃO - SOBRE..................... */
#about{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--cor-secundaria);
}

#about a{
    color: var(--cor-secundaria);
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    border: 1px solid var(--cor-secundaria);
    border-radius: 20px;
}

#about a:hover{
    background-color: var(--hover-principal);
    color: var(--cor-principal);
}
/* .....................SEÇÃO - COMIDAS..................... */
#our-foods{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-card{
    flex-direction: column;
}

/* .....................SEÇÃO - CONTATOS..................... */
#contact{
    background-color: var(--cor-secundaria);
    color: #F5F2EB;
    padding: 20px;
}

#contact a{
    border: 0.5px solid var(--cor-principal);
    border-radius: 20px;
    color: var(--cor-principal);
    padding: 5px;
}

#contact a:hover{
    background-color: #5e351a;
    border-radius: 20px;
    padding: 5px;
}

/* .....................RODAPÉ..................... */
footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    color: var(--cor-secundaria);
    padding: 20px;
    padding-left: 60px;
}

/* .....................RESPONSIVIDADE..................... */
@media (min-width: 768px) {
    body{
        padding-top: 100px;
    }

    #introduction{
        margin-top: 0;
    }

    header{
        flex-direction: row;
        align-items: center;
        column-gap: 670px;
    }

    header nav ul{
        grid-template-columns: repeat(4, 1fr);
        width: auto;
        padding-left: 200px;
    }

    #introduction{
        width: 97.3%;  
    }

  footer{
        column-gap: 670px;
  }
}

@media (min-width: 1024px){
    header{
        column-gap: 500px;
    }

    header nav ul{
        grid-template-columns: repeat(4, 1fr);
    }

    .food-card{
        flex-direction: row;
    }
}